<html>
<body bgcolor=black text=white>

<script type="text/javascript" src=led.js></script>

<div id="wrapper">

<div style="position: absolute; left: 10px; top: 10px;">
  <canvas id=lights width=1020 height=1020></canvas>
</div>

<div style="position: absolute; left: 50px; top: 50px; z-index: 1;">
  <table border=0 style="width:920px;">
    <tr> <td>
      <div id=code_buttons> </div> <br>
      <div id=code_text> 
        <textarea id=code_raw rows=25 cols=40></textarea>
      </div> <br>
      <div id=code_widgets> </div> <br>
      <div id=prog_buttons> 
        <button id=go onclick="prog()">Simulate</button>
        <button id=go onclick="upload()">Upload</button>
      </div> <br>
      <div id=run_buttons> 
        <button id=go onclick="loop(0)">Run once / stop</button>
        <button id=go onclick="loop(1)">Run forever</button>
      </div> <br>
      <div id=code> </div> <br>
    </td><td>
      <b>Known operators: </b><br>
       <br>
       <!-- CONST -->
    </td></tr>
  </table>
</div>

</div>

</body>
</html>
